body{
    font-family: 'Dosis', sans-serif;
    background-color: #84ff9f;
    color: #420084;
}
h1{
    font-size: 48px;
}
h2{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
p{
    font-size: 26px;
}
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.bgimage{
    background-image: url(https://github.com/Ryabn/Brobot/blob/master/images/eight.jpg?raw=true);
    background-position: center;
    background-size: cover;
    height: 65vh;
    border-bottom: solid 10px #380099;
}
.heroTitle{
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0 0 80px #9634ed, -2px -2px white;
    padding-left: 30vw;
    padding-top: 35vh;
}
.title{
    padding-top: 30px;
}
.intro{
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    text-align: justify;
}
.introImage{
    margin-top: 20px;
    background-image: url(https://github.com/Ryabn/Brobot/blob/master/images/seven.jpg?raw=true);
    background-size: cover;
    background-position: center;
    height: 300px;
    border-radius: 10px;
}
.github{
    border-top: 10px solid #380099;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
    color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #4c14ad;
}
/*=========================================MEDIA QUERIES===============================================*/
/*small laptops and tablets*/
@media (min-width: 768px){
    .bgimage{
        height: 88vh;
    }
    h1{
        font-size: 72px;
    }
    p{
        font-size: 48px;
    }
    .heroTitle{
        text-shadow: 0 0 80px #9634ed, -5px -5px white;
        font-size: 200px;
        padding-left: 20vw;
        padding-top: 40vh;
    }
    .title{
    padding-top: 50px;
    }
    .intro{
        font-size: 28px;
    }
}
/*=========================================MEDIA QUERIES===============================================*/
/*laptops and desktops*/
@media (min-width: 992px){
    .heroTitle{
        font-size: 200px;
        padding-left: 30vw;
        padding-top: 45vh;

    }
    .introImage{
        margin-top: 20px;
        height: 90%;
    }

}
